@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 12px;

  --color-bg: #ffffff;
  --color-bg-off: #f2f5f7;
  --color-bg-bar: #d8dee3;
  --color-primary: #6558f5;
  --color-secondary: #1aae9f;
  --color-text-one: #4B5C6B;
  --color-text-two: #eceef0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
